body {
  font-family: Arial, sans-serif;
  background: pink;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 3rem;
}

.buttons button {
  font-size: 1.5rem;
  padding: 15px 30px;
  margin: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#yes {
  background: #ff4d6d;
  color: white;
}

#no {
  background: #444;
  color: white;
  position: absolute;
}
